{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
    <script src="{% static 'js/timer.js' %}"></script>
</head>
<body onload="changeTime();">
    <div id="main_container">
        <div id="title">
            <h1>
                <a href="{% url 'base_list' %}">Ksiazka telefoniczna</a>
            </h1>
        </div>

        <div id="menu">
            <div id="button">
                <a href="{% url 'osoba_new' %}"> <b>Dodaj osobe</b> </a>
            </div>

            <div id="button">
                <a href="{% url 'osoba_szukaj' %}"><b>Szukaj osobe</b></a>
            </div>

        </div>

        <div id="content">
        {% block content %}
        {% endblock %}
         </div>
    <br />
    <div id="footer">
        <div id="timer"></div>
        <div id="info">
            
        </div>
    </div>
    </div>
</body>
</html>